body{
    background-image: url(../img/back-ground/fondo.jpg) !important;
    color: #141619;
    
}
/* Estos son los estilos de la barra de navegación */
.navbar{
  border-bottom: 5px;
  border-radius: 20;
  margin: 0%;
  color: aliceblue;
  align-items: end;
} 

.nav-link{
  color: aliceblue;
}

#fondobrnav{
  background-color: #1b1b1b;
  color: aliceblue;
}

#navbarNavDropdown{
  border-bottom: 10px;
  border-color: #1b1b1b;
  background-color: #1b1b1b;
  justify-content: space-evenly;
}

#bordebrnv{
  height: 100%;
  background-color: #1b1b1b;
  color: aliceblue;
  padding: 0%;
}

.dropdown-menu{
  background: #1b1b1b;
  border-radius: 0%;
  color: rgb(0, 0, 0);
  justify-content: left;
  align-items: first baseline;
  text-align: left;
}

.dropdown-item{
  color: white;
  justify-content: left;
  align-items: first baseline;
}

#carrito{
  background-color: #1b1b1b;
  height: 40px;
  width: 40px;
}

/* SLIDER NUMERO 1*/
.slider{
    width: 75vw;
    height: auto;
    margin: auto;
    overflow: hidden;
  }
  
  .slider .slide-track{
    display: flex;
    animation: scroll 40s linear infinite;
    -webkit-animation: scroll 40s linear infinite;
    width: calc(200px*14);
  
  }
  
  .slider .slide {
    width: 200px;
  }
  
  .slider .slide img{
    width: 100%;
    
  }
  
  @keyframes scroll {


    0% {
      -webkit-transform: translateX(0);
      transform: translateX(0);
    }
    100% {
      -webkit-transform: translateX(calc(-200px *5));
      transform: translateX(calc(-200px *5));
    } 
  
  }
  
  
  
  
  /* SLIDER NUMERO DOS*/
  .slider2{
    width: 75vw;
    height: auto;
    margin: auto;
    overflow: hidden;
  }
  
  .slider2 .slide-track{
    display: flex;
    animation: scroll 20s linear infinite;
    -webkit-animation: scroll 20s linear infinite;
  
  
  }
  
  .slider2 .slide {
    width: 300px;
  }
  
  .slider2 .slide img{
    width: 100%;
  
  }
  
  @keyframes scroll {
  
    0% {
      -webkit-transform: translateX(0);
      transform: translateX(0);
    }
    100% {
      -webkit-transform: translateX(calc(-300px *3));
      transform: translateX(calc(-300px *3));
    } 
  
  }
  
  .divflex1{
    background-color: #141619;
    color: white;
    display: flex;
    flex-direction: row;
    padding: 1cm;
  
  }
  
  .logo1{
    max-width: 200PX;
    background-position: center;
  }

  .logo99{
    max-width: 300PX;
    background-position: center;
  }
  
  
  
  .divflex2{
    background-color:transparent;
    color: white;
    display: flex;
    flex-direction: row;
    padding: 1cm;
    text-align:justify;
  
  }
  
  .imgproducto1{
    width: 300px;
    height: 150px;
  
  }
  
  
  .parrafo1{
    text-align: justify;
    color: black;
  }
  
  
  .divflex3{
    background-color: transparent;
    color: black;
    display: flex;
    flex-direction: row;
    padding: 1cm;
  
  }
  
  .divflexperros{
    
    color: black;
    display: flex;
    flex-direction: row;
    padding: 1cm;
    text-align:justify;
    justify-content: space-around;
  }
  
  
  .imgportada{
    width: 100%;
    height: 500px;
  }
  
  
  .divprodvend{
    background-color: transparent;
    color: black;
    padding: 0.5cm;
    
  }
  
  .imgprovend{
    width: auto;
    height: 200px;
  
  }

  /* PRODUCTOS ANIMALES EN EL INDEX*/
  .imgproductosindex{
    width: 200px;
    height: auto;
    padding: 1cm;
    
    

  }

  .textproductosindex{
    text-align: justify;
    color: #1b1b1b;

  }

  /* UBICACION INDEX*/

  .divubicacion{
    background-color: #1b1b1b;
    padding: 1cm;
  }

  .imagendiv{
    max-width: 600px;
    min-height: auto;
  }

  .divinterno{
    background-color:rgb(168, 21, 21) ;
  }

  .textdivubicacion{
    padding: 1cm;
    color: whitesmoke;
    text-align:center;

  

  }


  /* PRODUCTO MAS VENDIDO*/

.divfondo1{
  background-color: #1b1b1b;
}

.divfondo2{
  background-color: rgba(133, 197, 31, 0.815);
  padding: 0.5cm;
}

.divfondo3{
  background-color: rgba(26, 41, 2, 0.699);
  padding: 0.5cm;
  color: whitesmoke;
}

/* Footer*/

#footer{
  height: 100%;
  background-color: #1b1b1b;
}

#logoenftr{
  height: 400px;
  background-image: url(../img/LOGOS/LOGO-TRANSPARENTE.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  background-color: #1b1b1b;
}

#linksftr{
  margin-top: 50px;
  font-size: 20px;
  background-color: #1b1b1b;
}

#linksftr a{
  margin-left: 30px;
}

#RRSSftr{
  justify-content: center;
  align-items: center;
  margin-top: 50px;
  background-color: #1b1b1b;
}
#RRSSftr a{
  margin-top: 200px;
  margin-left: 50px;
  padding-top: 30px;
  font-size: 30px;
  justify-content: center;
  align-items: center;
  text-align: center;
}

#brderechos{
  background-color: #1b1b1b;
  height: 20px;
  color: aliceblue;
  justify-items: center;
  text-align: center;
  font-size: 15px;
}

#contactanos{
  color: aliceblue;
  margin-top: 50px;
  font-size: 20px;
  background-color: #1b1b1b;
}


/*--------------------------------------------------------------------¿Quiénes Somos?--------------------------------------------------------------------*/

  #QuienesSomos{
    align-items: center;
    background-color: #1b1b1b;
    height: 100%
  }

  #contener{
    margin: auto;
    margin-top: 50px;
    height: 2000;
  }

  #Contintro{
    background-color: #1b1b1b;
    margin: auto;
    margin-top: 50px;
  }

  #cajaimg1{
    background-image: url(../img/QUIENES_SOMOS/im\ intro.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 500px;
    text-align: center;
    padding: 12em 0;
    margin-top: 50px;
    margin-bottom: 50px;
  }

  #cajaimg1 h1{
  color: aliceblue;
  font-size: 60px;
  font-family: fantasy;
  text-shadow: 2px  0px 0px black,
               0px  2px 0px black,
              -2px  0px 0px black,
               0px -2px 0px black;
  }

  #cajap1{
    background-color: rgb(10, 119, 19);
    height: 500px;
    text-align: justify;
    align-items: center;
    justify-items: center;
    margin-top: 50px;
    word-break: keep-all;
    margin-bottom: 50px;
  }

  #cajap1 p{
    color: aliceblue;
    font-size: 25px;
    font-family: fantasy;
    margin: auto;
    text-shadow: 2px  0px 0px black,
                 0px  2px 0px black,
                -2px  0px 0px black,
                 0px -2px 0px black;
    padding-left: 30px;
    padding-right: 30px;
    word-wrap: break-word;
    margin-bottom: 50px;
  }

  #Contorigen{
    background-color: #1b1b1b;
    height: 1000px;
    margin: auto;
    margin-bottom: 50px;
  }

  #Cajaimg2{
    background-image: url(../img/QUIENES_SOMOS/im\ origen.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 900px;
    text-align: center;
    padding: 12em 0;
    margin-top: 50px;
  }

  #Cajap2{
    background-color: #1b1b1b;
    height: 800px;
    text-align: justify;
    align-items: center;
    justify-items: center;
    margin-top: 50px;
    word-break: keep-all;
  }

  #Cajap2 p{
    color: aliceblue;
    font-size: 25px;
    font-family: fantasy;
    margin: auto;
    text-shadow: 2px  0px 0px black,
                 0px  2px 0px black,
                -2px  0px 0px black,
                 0px -2px 0px black;
    padding-left: 30px;
    padding-right: 30px;
    word-wrap: break-word;
    margin-top: 20%;
    margin-bottom: 20%;
  }


/*-------------------------------------------------------------------------Contacto----------------------------------------------------------------------*/

  #CuerpFrom{
    height: 1000px;
    background-color: #1b1b1b;
    margin-top: 50px;
    margin-bottom: 50px;
  }

  #cajap3{
    background-image: url(../img/CONTACTANOS/Perro\ mensajero.png);
    background-repeat: no-repeat;
    background-position: bottom;
    color: aliceblue;
    height: 900px;
    text-align: justify;
    margin-top: 50px;
    word-break: keep-all;
    margin-bottom: 50px;
  }

  #cajap3 p{
    margin-right: 30px;
    font-size: 27px;
  }

  #contform{
    color: aliceblue;
    justify-content: center;
    align-items: center;
    padding: 5%;
  }

  #formulario{
    width: 100%;
    padding: 15px 10px;
    font-size: 20px;
  }


  #contenedorformulario{
    width: 90%;
    height: 90%;
    color: aliceblue;
   } 

  .contact_form{  
    width: 80%; 
    height: auto;
    margin: 80px auto; 
    padding-top: 30px;
    padding-bottom: 20px;  
    background-color: #1b1b1b; 
    color: aliceblue;
    padding-left: 30px; 
    display: flex;
  }
  
  
  input{
    background-color: #1b1b1b; 
    color: #ffffe5;
    width: 408px; 
    height: 40px; 
    border-radius: 5px;  
    border-style: solid; 
    border-width: 1px; 
    border-color: #ffffe5; 
    margin-top: 10px;  
    padding-left: 10px;
    margin-bottom: 20px; 
  }
  
  
  textarea{
    background-color: #1b1b1b; 
    color: #ffffe5;
    width: 405px; 
    height: 150px; 
    border-radius: 5px;  
    border-style: solid; 
    border-width: 1px; 
    border-color: #ffffe5; 
    margin-top: 10px;  
    padding-left: 10px;
    margin-bottom: 20px; 
    padding-top: 15px; 
  }
  
  
  label{
    display: block; 
    float: center;  
  }
  
  
  #Enviar{
    height: 50px; 
    padding-left: 5px;
    padding-right: 5px;   
    margin-bottom: 20px; 
    margin-top: 20px;   
    text-transform: uppercase;
    background-color: #007928; 
    border-color: #007928; 
    border-style: solid; 
    border-radius: 10px;  
    width: 420px;   
    cursor: pointer;
  }
  
  #btn_enviar{
    height: 45px;  
    margin-bottom: 20px; 
    margin-top: 10px;   
    text-transform: uppercase;
    background-color: #ffffe5; 
    border-color: #007928; 
    border-style: solid; 
    border-radius: 10px;  
    width: 420px;   
    cursor: pointer;
    justify-content: center;
    align-items: center;
  }
  
  #btn_enviar p{
    color: black; 
    margin-top: 10px;
  }
  
  
  span{
    color: #007928; 
  }
  
  
  .aviso{
    font-size: 13px;  
    color: #ffffe5;  
  }
  
  ::-webkit-input-placeholder {
   color: #a8a8a8;
  }
  
  
  ::-webkit-textarea-placeholder {
   color: #ffffe5;
  }
  
  
  .formulario input:focus{
    outline:0;
    border: 1px solid #97d848;
  }
  
  
  .formulario textarea:focus{
    outline:0;
    border: 1px solid #97d848;
  }

  /* TIENDA GENERAL */

.divtiendavertical{
  background-color: #1b1b1b;
  color: whitesmoke;
  padding: 0.5cm;
}

.divtiendahorizontal{
  color: whitesmoke;
  text-align: justify;
}

.imgproductogeneral{
  max-width: 120PX;
  max-height: 200px;

}

.divcard1{
  width: 200px;
  background-color: rgba(0, 0, 0, 0.637);
  padding: 0.1cm;
}


/* Estilo de la imagen */

/* Estilo de la tabla de datos */
#tabla-datos {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
  width: 100%;
  height: 100%;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.8);
}

#tabla-datos table {
  max-width: 80%;
  max-height: 80%;
  margin-top: 5%;
  border-collapse: collapse;
}

#tabla-datos th, #tabla-datos td {
  padding: 10px;
  border: 1px solid white;
  color: white;
}

/* Estilo del enlace de anclaje activo */
#tabla-datos:target {
  display: flex;
  justify-content: center;
  align-items: center;
}
  

#h1tomas{
  color: #141619;
}

#buttonTOMAS1{
  height: auto; 
  padding-left: 5px;
  padding-right: 5px;   
  margin-bottom: 20px; 
  margin-top: 10px;   
  text-transform: uppercase;
  background-color: rgba(255, 0, 0, 0.747); 
  border-color: transparent; 
  border-style: solid; 
  border-radius: 10px;  
  width: auto;   
  cursor: pointer;
  justify-content: center;
  align-items: center;
  color: whitesmoke;
  }

  #buttonTOMAS2{
    height: auto; 
    padding-left: 5px;
    padding-right: 5px;   
    margin-bottom: 20px; 
    margin-top: 10px;   
    text-transform: uppercase;
    background-color: yellow; 
    border-color: transparent; 
    border-style: solid; 
    border-radius: 10px;  
    width: auto;   
    cursor: pointer;
    justify-content: center;
    align-items: center;
    color: #141619;
    }


    /* PAGINA FITFORMULA ADULTO*/

    #imgmenu1{
     max-height: 200px;
     max-width: 150px;
  }
    

/*-----------------------------------------------------------------------Carrito-------------------------------------------------------------------------*/

  #Carrito{
    height: 100%;
  }

  #BarraTienda{
    height: 1200px;
    background-color: #1b1b1b;
  }

  #btn_dd{
    color: aliceblue;
    height: 60px;
    width: 100px;
    text-align: initial;
  }

  #MiCarrito{
    padding: 30px 50px;
  }

  #MiCarrito h1{
    font-size: 60px;
  }

  #ContCarrito{
    height: 1100px;
    background-color: #1b1b1b;
  }

  #Contenido h1{
    font-size: 30px;
    color: aliceblue;
    padding: 30px 30px;
  }

  #ResumenCompra{
    height: 1100px;
    background-color: #1b1b1b;
    border-left: aliceblue solid;
  }

  #ResumenCompra h1{
    font-size: 30px;
    color: aliceblue;
    padding: 30px 30px;
  }