body{
    background-image: url(../img/back-ground/fondo.jpg);
    color: #141619;
    
}






.slider{
    width: 75vw;
    height: auto;
    margin: auto;
    overflow: hidden;
  }
  
  .slider .slide-track{
    display: flex;
    animation: scroll 40s linear infinite;
    -webkit-animation: scroll 40s linear infinite;
    width: calc(200px*14);
  
  }
  
  .slider .slide {
    width: 200px;
  }
  
  .slider .slide img{
    width: 100%;
  
  }
  
  @keyframes scroll {
  
    0% {
      -webkit-transform: translateX(0);
      transform: translateX(0);
    }
    100% {
      -webkit-transform: translateX(calc(-200px *5));
      transform: translateX(calc(-200px *5));
    } 
  
  }
  
  
  
  
  /* SLIDER NUMERO DOS*/
  .slider2{
    width: 75vw;
    height: auto;
    margin: auto;
    overflow: hidden;
  }
  
  .slider2 .slide-track{
    display: flex;
    animation: scroll 20s linear infinite;
    -webkit-animation: scroll 20s linear infinite;
  
  
  }
  
  .slider2 .slide {
    width: 300px;
  }
  
  .slider2 .slide img{
    width: 100%;
  
  }
  
  @keyframes scroll {
  
    0% {
      -webkit-transform: translateX(0);
      transform: translateX(0);
    }
    100% {
      -webkit-transform: translateX(calc(-300px *3));
      transform: translateX(calc(-300px *3));
    } 
  
  }
  
  .divflex1{
    background-color: #141619;
    color: white;
    display: flex;
    flex-direction: row;
    padding: 1cm;
  
  }
  
  .logo1{
    width: 200px;
    background-position: center;
  }
  
  
  .divflex2{
    background-color:transparent;
    color: white;
    display: flex;
    flex-direction: row;
    padding: 1cm;
    text-align:justify;
  
  }
  
  .imgproducto1{
    width: 300px;
    height: 150px;
  
  }
  
  
  .parrafo1{
    text-align: justify;
    color: black;
  }
  
  
  .divflex3{
    background-color: transparent;
    color: black;
    display: flex;
    flex-direction: row;
    padding: 1cm;
  
  }
  
  .divflexperros{
    
    color: black;
    display: flex;
    flex-direction: row;
    padding: 1cm;
    text-align:justify;
    justify-content: space-around;
  }
  
  
  .imgportada{
    width: 100%;
    height: 500px;
  }
  
  
  .divprodvend{
    background-color: transparent;
    color: black;
    padding: 0.5cm;
    
  }
  
  .imgprovend{
    width: auto;
    height: 300px;
  
  }