body{
    background-image: url(../img/back-ground/fondo.jpg) !important;
    color: #141619;
    
}
/* Estos son los estilos de la barra de navegación */
.navbar{
  border-bottom: 5px;
  border-radius: 20;
  margin: 0%;
  color: aliceblue;
} 

.nav-link{
  color: aliceblue;
}

#fondobrnav{
  background-color: #1b1b1b;
  color: aliceblue;
}

#navbarNavDropdown{
  border-bottom: 10px;
  border-color: #1b1b1b;
  background-color: #1b1b1b;
  justify-content: space-evenly;
}

#bordebrnv{
  height: 100%;
  background-color: #1b1b1b;
  color: aliceblue;
  padding: 0%;
}

.dropdown-menu{
  background: #1b1b1b;
  border-radius: 0%;
  color: rgb(0, 0, 0);
  justify-content: left;
  align-items: first baseline;
  text-align: left;
}

.dropdown-item{
  color: white;
  justify-content: left;
  align-items: first baseline;
}


.slider{
    width: 75vw;
    height: auto;
    margin: auto;
    overflow: hidden;
  }
  
  .slider .slide-track{
    display: flex;
    animation: scroll 40s linear infinite;
    -webkit-animation: scroll 40s linear infinite;
    width: calc(200px*14);
  
  }
  
  .slider .slide {
    width: 200px;
  }
  
  .slider .slide img{
    width: 100%;
  
  }
  
  @keyframes scroll {
  
    0% {
      -webkit-transform: translateX(0);
      transform: translateX(0);
    }
    100% {
      -webkit-transform: translateX(calc(-200px *5));
      transform: translateX(calc(-200px *5));
    } 
  
  }
  
  
  
  
  /* SLIDER NUMERO DOS*/
  .slider2{
    width: 75vw;
    height: auto;
    margin: auto;
    overflow: hidden;
  }
  
  .slider2 .slide-track{
    display: flex;
    animation: scroll 20s linear infinite;
    -webkit-animation: scroll 20s linear infinite;
  
  
  }
  
  .slider2 .slide {
    width: 300px;
  }
  
  .slider2 .slide img{
    width: 100%;
  
  }
  
  @keyframes scroll {
  
    0% {
      -webkit-transform: translateX(0);
      transform: translateX(0);
    }
    100% {
      -webkit-transform: translateX(calc(-300px *3));
      transform: translateX(calc(-300px *3));
    } 
  
  }
  
  .divflex1{
    background-color: #141619;
    color: white;
    display: flex;
    flex-direction: row;
    padding: 1cm;
  
  }
  
  .logo1{
    width: 200px;
    background-position: center;
  }
  
  
  .divflex2{
    background-color:transparent;
    color: white;
    display: flex;
    flex-direction: row;
    padding: 1cm;
    text-align:justify;
  
  }
  
  .imgproducto1{
    width: 300px;
    height: 150px;
  
  }
  
  
  .parrafo1{
    text-align: justify;
    color: black;
  }
  
  
  .divflex3{
    background-color: transparent;
    color: black;
    display: flex;
    flex-direction: row;
    padding: 1cm;
  
  }
  
  .divflexperros{
    
    color: black;
    display: flex;
    flex-direction: row;
    padding: 1cm;
    text-align:justify;
    justify-content: space-around;
  }
  
  
  .imgportada{
    width: 100%;
    height: 500px;
  }
  
  
  .divprodvend{
    background-color: transparent;
    color: black;
    padding: 0.5cm;
    
  }
  
  .imgprovend{
    width: auto;
    height: 300px;
  
  }

  /*¿Quiénes Somos?*/

  #QuienesSomos{
    align-items: center;
    margin-top: 50;
  }

  #Contintro{
    background-color: #1b1b1b;
    height: 1000px;
    margin: auto;
    margin-top: 50px;
  }

  #cajaimg1{
    background-image: url(../img/QUIENES_SOMOS/im\ intro.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 500px;
    margin-bottom: 50px;
    text-align: center;
    padding: 12em 0;
  }
  #cajaimg1 h1{
  color: aliceblue;
  font-size: 60px;
  font-family: fantasy;
  text-shadow: 2px  0px 0px black,
               0px  2px 0px black,
              -2px  0px 0px black,
               0px -2px 0px black;
  }

  #cajap1{
    background-color: rgb(10, 119, 19);
    height: 500px;
    text-align: justify;
    align-items: center;
    justify-items: center;
  }

  #cajap1 p{
    color: aliceblue;
    font-size: 25px;
    font-family: fantasy;
    margin: auto;
    text-shadow: 2px  0px 0px black,
                 0px  2px 0px black,
                -2px  0px 0px black,
                 0px -2px 0px black;
    padding-left: 30px;
    padding-right: 30px;
  }
  